.wbcalendar {

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;

    // Slides for infinity swipe
    &-slides {
        position: relative;
        overflow: hidden;

        display: flex;
        flex-flow: row nowrap;
    }
    &-slide {
        // full width
        flex: 0 0 100%;
        width: 100%;
        box-sizing: border-box;
    }

    // Calendar month/week grid
    &-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        // >div {
        //     aspect-ratio: 1;
        // }
    }

    &-switch {
        display: flex;
        flex-flow: row nowrap;
    }

    &-nav {
        flex: 0 0 40px;
    }

    &-datecaption {
        flex: 1 1 100%;
    }


    // &-weekdays {

    // }
    // &-weekday {

    // }

    // // calendar dates container
    // &-dates {

    // }
    // &-date {

    // }



    // // Modifiers
    // &--today {

    // }

    // &--selected {

    // }

    // &--prevmonth,
    // &--nextmonth {

    // }

    // &--period-in {

    // }
    // &--period-start,
    // &--period-end {

    // }

    // // Weekend
    // &--wd-6,
    // &--wd-7 {

    // }
}