.calendar {
    &__week {
        overflow: hidden;
    }

    &__date {
        width: 40px;
        height: 40px;
        float: left;

        &--prevmonth,
        &--nextmonth {
            color: silver
        }
    }
}