@import './variables';

.calendar {
    .remove-tap-highlite();

    user-select: none;


    &__switch {
        display: flex;
        flex-flow: row nowrap;
        height: 40px;
    }

    &__nav,
    &__datecaption {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__nav {
        flex: 0 0 40px;
        cursor: pointer;
    }

    &__datecaption {
        flex: 1 1 100%;
    }

    &__weekdays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    &__slides {
        position: relative;
        overflow: hidden;

        display: flex;
        flex-flow: row nowrap;

        border-left: 1px solid @borderColor;
        border-top: 1px solid @borderColor;
    }

    &__slide {
        // aizņem visu platumu
        flex: 0 0 100%;
        width: 100%;
        box-sizing: border-box;

        display: grid;
        grid-template-columns: repeat(7, 1fr);

        //align-items: start;

        >div {
            border-right: 1px solid @borderColor;
            border-bottom: 1px solid @borderColor;

            aspect-ratio: 1;

            display: flex;
            justify-content: center;
            align-items: center;

            align-self: start;
        }
    }

    &__weekday {
        text-align: center;
    }

    &__date {

        cursor: pointer;

        &--today {
            background-color: @borderColor;
        }

        &--selected {
            background-color: red;
        }

        &--prevmonth,
        &--nextmonth {
            color: gray
        }

        &--period-in {
            background-color: #c9e1ff;
        }
        &--period-start,
        &--period-end {
            background-color: #194071;
        }
    }

    &__weekday,
    &__date {
        &--wd-6,
        &--wd-7 {
            color: red;
        }
    }
}